#container {
  position: relative;
  text-align: center;
}

.image img{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.logo img {
  position: absolute;
  top: 12%;
  left: 50%;
  width: 160px;
  transform: translate(-50%, -50%);
}

.name h1{
  font-family: 'Roboto', sans-serif;
  font-size: 40pt;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.designer h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 25pt;
  text-align: center;
  vertical-align: center;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #D5890A;
}

.titulo h3{
  font-family: 'Roboto', sans-serif;
  font-size: 50pt;
  text-align: center;
  vertical-align: center;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.sumario h4{
  font-family: 'Roboto', sans-serif;
  font-size: 28pt;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}







.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 10px;
    position: absolute;
    top: 38%;
  
}
.grid-item {
    font-family: 'Roboto', sans-serif;
    top: 41%;
    padding: 20px;
    font-size: 20pt;
    font-weight: bold;
    
    /* position: absolute; */
    color: white;
    text-align: left;
}

.pdf h5{
    font-family: 'Roboto', sans-serif;
    top: 80%;
    font-size: 18pt;
    font-weight: bold;
    text-decoration: underline;
    color: #D5890A;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%;
}

.seta{
  top: 85%;
  text-align: right;
  position: absolute;
  left: 84%;
}

.redes_sociais img{
  position: absolute;
  padding-bottom: 80px;
  width: 400px;
  transform: translate(-50%, -50%);
  text-align: center;
  left: 50%;
  top: 98%;
}